<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        {{>header}}
        <h1>From a Static File</h1>
        
        <img src="/img/2.jpg"
        <p>created by{{name}}.</p>
        {{>footer}}
    </body>
</html>