<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        
        <h2>{{help_msg}}</h2>
        {{>footer}}
    </body>
</html>