<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <h1>From a Static File</h1>
        <h2>{{title}}</h2>
        <img src="/img/2.jpg"
        <p>created by{{name}}.</p>
    </body>
</html>